body {
    color: red;
}

/* Apply basic styling to the header */
header {
    background-color: #5f2a2a; /* Background color of the header */
    color: #fff; /* Text color */
    padding: 10px 0; /* Padding around the content inside the header */
  }
  
  /* Style the logo or site title */
  .header-logo {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
  }
  
header a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin: 10px 20px;
}

a.removeline  {
  text-decoration: none;
  color: #000;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.headerC {
  background-color: #5f2a2a;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: sans-serif;
}

.my-element:hover {
  background-color: #e74c3c; /* Hover background color */
  color: #ffffff; /* Hover text color */
}